@model IEnumerable<ProductosWEB.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Proveedores</h1>

<p>
    <a id="btnCreateProveedor" class="btn btn-primary" asp-action="Create">Crear Nuevo Proveedor</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().nombre)</th>
            <th>@Html.DisplayNameFor(model => model.First().apellido)</th>
            <th>@Html.DisplayNameFor(model => model.First().tipoDePersona)</th>
            <th>@Html.DisplayNameFor(model => model.First().dui)</th>
            <th>@Html.DisplayNameFor(model => model.First().nombreEmpresa)</th>
            <th>@Html.DisplayNameFor(model => model.First().Nrc)</th>
            <th>@Html.DisplayNameFor(model => model.First().contacto)</th>
            <th>@Html.DisplayNameFor(model => model.First().telefono)</th>
            <th>@Html.DisplayNameFor(model => model.First().direccion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.tipoDePersona)</td>
                <td>@Html.DisplayFor(modelItem => item.dui)</td>
                <td>@Html.DisplayFor(modelItem => item.nombreEmpresa)</td>
                <td>@Html.DisplayFor(modelItem => item.Nrc)</td>
                <td>@Html.DisplayFor(modelItem => item.contacto)</td>
                <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.direccion)</td>
                <td>
                    <a id="ProveedorEdit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Editar
                    </a> 
                    <a id="ProveedorDetails" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a> 
                    <a id="ProveedorDelete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
